.image{
    grid-area: image;
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); */
    border-radius: 4px;
}

.image{
    max-width: 800px;
    width: 100%;
    height: auto;
}

.info{
    grid-area: info;
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); */
    /* padding: 2rem; */

}

.info > *{
    margin: 1rem 2rem;
}

.reviews{
    grid-area: reviews;
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); */
}

.reviews > *{
    padding: 2rem;
}

.container{
    display: grid;
    grid-template-areas: 
    'image info'
    'image info'
    'reviews reviews' ;
    margin: 5% 10% 0px 10%;
}

.order{
    border: 2px solid black;
    border-radius: 10px;
    /* height: 10rem; */
    text-align: center;
    padding: 2rem 0px;
}

.order > button{
    width: 80%;
    display: block;
    margin: 1rem auto;
    background-color: #f44336;
    color: white;
    height: 5rem;
    border-radius: 10px;
    border: none;
}

.order > button:hover{
    background-color: #ff7961;
}

.order > button:active{
    background-color: #ba000d;
}

.comment{
    width: 100%;
}

.comment > * {
    margin: 1rem 0px;
}

.comment > label{
    width: 20%;
}

.comment > textarea{
    width: 100%;
}

.comment > button{
    display: block;
    margin: 1rem 0px 1rem auto;
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: #f44336;
    color: white;
    height: 3rem;
    /* margin-left: auto; */
}

@media screen and (max-width: 1280px) {
    
    .container{
        grid-template-areas: 
        'image image'
        'info reviews reviews';
    }
}

@media screen and (max-width: 960px) {
    
    .container{
        grid-template-areas: 
        'image image image'
        'info info info'
        'reviews reviews reviews';
    }
}

@media screen and (max-width: 600px) {
    
    .container{
        display: block;
        margin: 30px 30px 0px 30px;
    }

    .image{
        border-radius: 4px;
        box-shadow: none;
    }
    
    .image{
        width: 100%;
        height: auto;
    }
    
    .info{
        display: block;
        border: 0px;
        box-shadow: none;
        margin-top: 40px;
    }
    
    .info > *{
        padding: 0;
    }
    
    .reviews{
        display: block;
        margin-top: 40px;
        border: 0px;
        box-shadow: none;
    }
    
    .reviews > *{
        padding: 0;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: fixed;
    right: 35px;
    top: 15px;
    margin-left: auto;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
  color: #f44336;
  cursor: pointer;
  }

input[type=text]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    
    /* Add a background color when the inputs get focus */
input:focus {
    background-color: #ddd;
    outline: none;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
    
.signupbtn {
    padding: 14px 20px;
    background-color: #4CAF50;
}
    
    /* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    
}
    
    /* Add padding to container elements */
.container {
    padding: 16px;
}
    