*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 60px;
    background-color: #f44336;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    box-shadow: 0px 2px 15px;
}

header > h2 {
    margin: 20px;
    color: white;
}

.image{
    grid-area: image;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
}

.image{
    max-width: 800px;
    width: 100%;
    height: auto;
}

.info{
    grid-area: info;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.info > *{
    padding: 2rem;
}

.reviews{
    grid-area: reviews;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.reviews > *{
    padding: 2rem;
}

.container{
    display: grid;
    justify-content: center;
    align-items: ;
    /* height: calc(100vh - 60px); */
    grid-template-areas: 
    'image image info'
    'image image reviews'
    'image image reviews' ;
    grid-gap: 5%;
    margin: 10% 10% 0px 10%;
}

@media screen and (max-width: 1280px) {
    
    .container{
        grid-template-areas: 
        'image image'
        'info reviews';
    }
}

@media screen and (max-width: 960px) {
    
    .container{
        grid-template-areas: 
        'image image image'
        'info info info'
        'reviews reviews reviews';
    }
}

@media screen and (max-width: 600px) {
    
    .container{
        display: block;
        margin: 30px 30px 0px 30px;
    }

    .image{
        border-radius: 4px;
        box-shadow: none;
    }
    
    .image{
        width: 100%;
        height: auto;
    }
    
    .info{
        display: block;
        border: 0px;
        box-shadow: none;
        margin-top: 40px;
    }
    
    .info > *{
        padding: 0;
    }
    
    .reviews{
        display: block;
        margin-top: 40px;
        border: 0px;
        box-shadow: none;
    }
    
    .reviews > *{
        padding: 0;
    }
}