/* #f44336 == main */
/* #ff7961 == light */
/* #ba000d == dark */

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

header{
    height: 60px;
    background-color: #f44336;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    box-shadow: 0px 2px 15px;
}

header > h2 {
    margin: 20px;
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
}

.aside{
    background-color: #f44336;
    flex: 15%;
    height: 100%;
    box-shadow: 0px 1px 10px;
}

.aside > ul > li{
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
}

.aside > ul > li > a{
    text-decoration: none;
    color: #FFF;
    font-size: large;
    font-weight: 120;
}

.main{
    flex: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}