.main{
    margin: 0 10rem;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.search{
    /* width: 400px; */
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.menu{
    display: flex;
    flex-direction: row;
    /* height: auto; */
}

.filtermenu{
    flex: 20%;
    background-color: #ccc;
    height: 60vh;
    padding: 1rem;
}

.filtermenu > input{
    /* display: block; */
    margin: 5px;
}

.menucard{
    display: flex;
    flex: 80%;
    flex-wrap: wrap;
    background-color:white;
    /* margin: 12rem; */
    justify-content: space-evenly;
}

.card{
    /* padding:10px; */
    width:25%;
    /* height:30%; */
    background-color:#fffbfb;
    margin: 1.5%;
    display:flex;
    box-shadow: 0px 1px 10px;
    display: flex;
    flex-direction: column;   
}
  
.cardimg img {
    width:100%;
    height:auto;
}

.cardcon{
    padding: 1rem;
}
  
.cardcon > a{
    text-decoration: none;
    color: black;
}

.cart {
    border: none;
    background-color: #f44336;
    color: white;
    margin: 1rem 0px;
    padding: 8px 8px;
    border-radius: 5px;
}

.cart:hover{
    background-color: #ff7961;
}

.cart:active{
    background-color: #ba000d;
}