/* Style the tab */
* {box-sizing: border-box}
html{
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  /* background-color: yellow; */
}

.mainbody{
  display: flex;
  flex-direction: row;
  min-height: 100% !important;
  width: 100%;
  /* background-color: yellowgreen; */
  
  /* overflow:hidden; */
}

.maincon{
  flex: 85%
}
.tab {
    /* float: left; */
    /* border: 4px solid #ccc; */
    background-color: #f44336;
    flex: 15%;
    min-height: 100%;
    box-shadow: 0px 2px 15px;
    
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    height:10%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ba000d ;;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ba000d ;;
  }
  
  /* Style the tab content */
  
  .tabcontent {
    float: left;
    padding: 10px 12px;
    /* border: 1px solid #ccc; */
    width: 85%;
    border-left: none;
    height: 100%;
  }
  
  .formcontainer{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 4rem;
    margin: 5rem 15rem;
  }
  
  .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .flabel{
    width: 20%;
  }

  .finput{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

  /* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */
  
  button[type=submit] {
    width: 40%;
    background-color:  #ba000d;
    color: white;
    padding: 1rem 0;
    margin: 2rem auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #ba000d;
  }
