/* Style the tab */
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f44336;
    width: 15%;
    height:100%;
    box-shadow: 0px 2px 15px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    height:10%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ba000d ;;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ba000d ;;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 10px 12px;
    border: 1px solid #ccc;
    width: 85%;
    border-left: none;
    height: 100%;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:  #ba000d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ba000d;
  }

  .formcontainer{

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}